@charset "UTF-8";

body {
    background-color: rgb(62, 159, 250);
    font: normal 1em arial;
}

header {
    color: white;
    text-align: center;

}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    line-height: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}